.archiveItemLink {
  text-decoration: none;
}

.archiveItem {
  background-color: var(--secondary-background-color);
  padding: 10px 10px 5px 10px;
  position: relative;
  color: var(--primary-text-color);
  overflow: hidden;
  margin-bottom: 20px;
}

.archiveItemImageContainer {
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
}

.archiveItem:hover {
  .archiveItemHeading {
    color: var(--primary-accent-color);
  }
  .archiveItemImageContainer img {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
  }
}

.archiveItemHeading {
  transition: all 0.5s ease-out;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
}
.archiveItemDate {
  color: var(--content-text-color);
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
  display: flex;
  align-items: baseline;
  position: relative;
}
.archiveItemDateIcon {
  line-height: 1rem;
  position: absolute;
  top: -2px;
}
.archiveItemDateText {
  line-height: 1.2rem;
  align-items: baseline;
  padding-left: 15px;
}

@media only screen and (max-width: 1080px) {
  .archiveItem {
    margin-bottom: 20px;
  }
}
