.sectionTitle {
  height: 3rem;
  display: flex;
  color: var(--primary-text-color);
  align-items: center;
}
.sectionTitle svg {
  font-weight: 700;
  font-size: 1.71rem;
  margin-right: 10px;
  display: inline-block;
}
.sectionTitle h4 {
  padding-top: 12px;
  font-weight: 700;
  font-size: 1.71rem;
}
@media only screen and (max-width: 767px) {
  .sectionTitle svg {
    font-size: 1.5rem !important;
  }
  .sectionTitle {
    height: 2.13rem !important;
  }
  .sectionTitle h4 {
    font-size: 1.5rem !important;
  }
}
