.skillItem {
  display: inline-block;
  flex: 0 0 auto;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--form-border-color);
  border: 1px solid var(--form-border-color);
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 38px;
  padding-right: 10px;
  position: relative;
  margin-right: 15px;
}
.skillItemIcon {
  position: absolute;
  left: 3px;
  top: 1px;
  color: var(--primary-accent-color);
  font-size: 2.2rem;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 100;
  padding: 3px;
  padding-left: 4px;
  max-width: 32px;
  max-height: 32px;
}
.skillItemIcon path {
  stroke: var(--primary-accent-color);
}

@media only screen and (max-width: 1080px) {
  .skillItem {
    font-size: 1rem;
    padding-right: 8px;
    padding-left: 35px;
  }
  .skillItemIcon {
    max-width: 30px;
    max-height: 30px;
  }
}
